@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;

}

:root {
  --blue: #050542;
  --green: #66e5bf;
  --purple: #a675f5;
  --white: #ffffff;
}

main {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/Schermafbeelding\ 2022-06-08\ om\ 11.07.25.png");
}

.chat {
  width: 30rem;
  height: 35rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--green);
}

.chat-top {
  border-bottom: 3px solid var(--blue);
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
}

section h1 {
  font-weight: bold;
  font-size: 20px;
  color: var(--blue); 
  text-shadow: 2px 2px white;
}



section ul {
  margin: 0;
  padding: 0.2em;
  list-style-type: none;
  flex-grow: 2;
  width: 30rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

section form {
  padding: 0;
  width: 25rem;
  height: 2rem;
  display: flex;
}

section form input[type='text'] {
  margin: 0;
  padding: 0 1rem;
  border: none;
  height: 2rem;
  flex-grow: 2;
  background: var(--blue);
  border-radius: 2rem;
  border: 0;
  outline: none;
  color: var(--white);
}

.chat-bottom {
  border-top: 3px solid var(--blue);
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
}


.send-button {
  transition: 0.2s ease-in;
  margin-left: 1rem;
  background-color: var(--blue);
  color: var(--green);
  border: none;
  border-radius: 0.5rem;
  padding: 0 0.6rem;
  box-sizing: border-box;
  width: 4rem;
}

.send-button2{
    transition: 0.2s ease-in;
  margin-left: 1rem;
  background-color: var(--blue);
  color: var(--green);
  border: none;
  border-radius: 0.5rem;
  padding: 0 0.6rem;
  box-sizing: border-box;
  width: 4rem;
  opacity: 80%;
}
.send-button:hover {

  background-color: var(--green);
  color: var(--blue);
  border: 1px solid var(--blue);
  cursor: pointer;
}


.user-info {
  font-size: 1rem;
  color: var(--blue);
  margin-left: 10px;
  margin-bottom: 1rem;
  align-self: center;
}




.message-container {
  color: var(--green);
  padding: 0.2rem 0.3rem;
  font-size: 1rem;
  background-color: var(--blue);
  border-radius: 6px;
  color: var(--green);
  display: table;
  max-width: 20rem;
  min-width: 4rem;
  overflow-wrap: anywhere;
  margin: 10px 10px;

}

.name {
  color: var(--white);
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.time {
  color: var(--white);
  margin-top: 10px;
  text-align: right;
  font-size: 0.8rem;
}

.message-received {

  color: var(--blue);
  padding: 0.2rem 0.3rem;
  font-size: 1rem;
  background-color: var(--purple);
  border-radius: 6px;
  display: table;
  max-width: 20rem;
  min-width: 4rem;
  overflow-wrap: anywhere;
  margin: 10px 10px;
  margin-right: auto;
}

.user-count {
  background-color: #a675f5;
  align-self: center;

  margin-left: 7rem;
  padding: 0.7rem;
  border-radius: 0.5rem;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}


.user-count-container {
  display: flex;
  flex-direction: row;
  width: 200px;
  flex-wrap: wrap;
  justify-content: center;
}



.user-icon {
  margin: 0.2rem 0.2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #66e5bf;
  font-size: 16px;
  font-weight: bold;
  cursor: default;

}


